{% extends "dashboard-layout.html" %}

{% block title %}
  <title>Covid Analytics Dashboard </title>
{% endblock %}

      {% block dashboard_content %}
        <div class="main-content w-full overflow-auto mb-10">
          <!--  embedded report -->
          <div>
            <iframe width="1480" height="900" src="{{'https://app.powerbi.com/reportEmbed?reportId={}&autoAuth=true&ctid=e5d15069-41a2-48be-a3f3-d7f52db16425'.format(reportId)}}" frameborder="0" allowfullscreen="true"></iframe>
          </div>

          <!-- end embedded report -->
          <div id="dropDownSelect1"></div>
        </div>
      {% endblock %}
   